#nome {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: rgb(198, 224, 198)
}

#cidade {
    text-decoration:underline
}

.list-style {
    background-color: rgb(4, 48, 33);
}

.description {
    position: absolute;
    top: 140px;
    left: 180px;    
}

.foto {
    background-color: black;
    width: 150px;
    padding: 10px 10px 10px 10px;
}

.impar {
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
